<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portalas</title>
</head>
<body>

    <h1 style="text-align: center;">Portalas</h1>

    <h3>Įveskite savo klausimą</h3>

    <form action="/submit" method="POST">
        <input type="text" name="text" placeholder="Įveskite klausimą čia" required>
        <button type="submit">Įkelti</button>
      </form>
    
      <h2></h2>
      <p><%=text%></p>

      




</body>
</html>